In [26]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import folium
import warnings
import datetime
warnings.filterwarnings(action='ignore')

In [89]:
# ASOS 관측 데이터
weather = pd.read_csv('../data/기상/OBS_ASOS_DD_20210601231517.csv', encoding = 'cp949')
# ASOS 관측소 메타 데이터
coor = pd.read_csv('../data/기상/META_관측지점정보_20210603224446.csv',encoding='cp949')
# 산사태 발생 이력 데이터
land = pd.read_csv('../data/산사태 발생이력.csv', encoding = 'cp949')
# 행정동 경계 데이터
boundary = gpd.read_file('../data/행정동 경계/umd.shp',encoding='utf-8')

In [90]:
# 기상청 메타 데이터를 geopandas가 인식할 수 있도록 point 형태로 변환
coor['geometry'] = gpd.points_from_xy(coor.경도,coor.위도)
tmp = gpd.GeoDataFrame({'geometry':coor['geometry']})

# 기상청 페이지에 기재된대로 좌표계 형식 설정 
tmp.crs = {'init':'epsg:4326'}

# 행정동 경계 데이터도 같은 좌표계로 설정해준다.
boundary = boundary.to_crs({'init':'epsg:4326'})

In [91]:
# 산사태가 발생한 지역의 polygon데이터만 수집
land_bound = pd.DataFrame()
for i in set(land['umd']):
    land_bound = pd.concat([land_bound,boundary[boundary['ADM_DR_NM']==i.strip(' ')]],axis=0)
land_bound = land_bound.reset_index().drop('index',axis=1)

In [93]:
# 산사태가 발생한 지역에 속한 ASOS 관측소 찾기
coor['land'] = 0
land_bound['weather'] = 0
for i in range(len(coor)):
    for j in range(len(land_bound)):
        if land_bound['geometry'].iloc[j].contains(coor['geometry'].iloc[i]):
            print(coor['지점명'].iloc[i], land_bound['ADM_DR_NM'].iloc[j])
            coor['land'].iloc[i] = 1
            land_bound['weather'].iloc[j] = 1

울릉도 울릉읍
울진 울진읍
울진 울진읍
통영 정량동
진주 판문동
진주 초장동
북창원 중앙동
창원시 중앙동
의령군 의령읍
함양군 함양읍
영덕 영해면
경주시 선도동
거창 거창읍
거창 거창읍
합천 합천읍
산청 산청읍
남해 이동면

ASOS 관측소가 행정구역에 모두 속할 줄 알았는데 그렇지 않았다.  
거리를 계산해서 가까운 지역과 관측소 매칭

교체된 관측기에 대한 정보를 정제하고 다시 매칭

In [94]:
# 종료일이 존재하는 관측소를 검색
coor['종료일'] = coor['종료일'].astype('str')
coor[coor['종료일']!='nan']

,지점,시작일,종료일,지점명,지점주소,관리관서,위도,경도,노장해발고도(m),기압계(관측장비지상높이(m)),기온계(관측장비지상높이(m)),풍속계(관측장비지상높이(m)),강우계(관측장비지상높이(m)),geometry,land
5,99,2001-12-07,2013-10-22,문산,경기도 파주시문산읍 마정로46-29(파주기상대),파주기상대(99),37.8859,126.7665,29.42,31.40,1.70,10.0,0.5,POINT (126.76650 37.88590),0
7,100,1971-07-15,2006-11-06,대관령,강원도 평창군대관령면 경강로5372 대관령자동기상관측소,NaN,37.6869,128.7587,842.52,843.96,1.50,10.0,1.6,POINT (128.75870 37.68690),0
10,102,2000-11-01,2018-05-01,백령도,인천광역시 옹진군백령면 진촌리1031,백령도기상대(102),37.9661,124.6305,146.00,147.20,1.80,9.0,1.2,POINT (124.63050 37.96610),0
15,108,1907-10-01,2010-08-15,서울,서울특별시 종로구송월길 52서울기상관측소,서울기상관측소(108),37.5714,126.9658,85.50,86.50,1.50,10.0,0.6,POINT (126.96580 37.57140),0
17,112,1904-08-29,2013-10-22,인천,인천광역시 중구전동 25번지인천기상대,인천기상대(112),37.4776,126.6244,68.15,70.15,1.50,10.0,0.6,POINT (126.62440 37.47760),0
20,116,1984-01-01,1990-12-31,관악산,경기도 과천시중앙로 관악산길(관악산기상레이더관측소),NaN,37.4442,126.9639,626.76,627.96,1.40,3.9,1.1,POINT (126.96390 37.44420),0
22,119,1964-01-01,2019-07-24,수원,경기도 수원시권선구 권선로276,수도권기상청(119),37.2723,126.9853,34.84,35.84,1.60,18.7,1.1,POINT (126.98530 37.27230),0
27,130,1971-01-12,2020-12-04,울진,경상북도 울진군울진읍 현내항길157 울진지역기상서비스센터,대구(구 143),36.9918,129.4128,48.98,50.18,1.75,10.0,1.3,POINT (129.41280 36.99180),1
32,136,1973-01-01,1978-05-01,안동,경상북도 안동시열루재1길 16(운안동433-1) 안동기상대,NaN,36.5730,128.7073,139.39,141.40,1.50,10.0,0.6,POINT (128.70730 36.57300),0
36,140,1968-01-01,2003-12-01,군산,전라북도 군산시내흥동 425-10호군산지역기상서비스센터,NaN,35.9930,126.7057,25.57,30.74,1.50,18.0,0.6,POINT (126.70570 35.99300),0
38,143,1907-01-31,2017-08-25,대구,대구광역시 동구 효동로2길 10대구지방기상청 (효목동),대구(구 143),35.8282,128.6522,53.40,54.90,1.80,10.0,0.6,POINT (128.65220 35.82820),0
40,146,1918-06-23,2015-07-01,전주,전라북도 전주시덕진구 상가마을길25 전주기상지청,전주기상대(146),35.8215,127.1550,53.40,62.40,1.80,18.4,0.6,POINT (127.15500 35.82150),0
42,152,2016-04-01,2017-08-25,울산,울산광역시 중구달빛로 65-26(약사동)울산기상대,울산기상대(152),35.5826,129.3344,82.00,83.20,1.80,10.0,0.6,POINT (129.33440 35.58260),0
43,152,1932-01-06,2016-04-01,울산,울산광역시 중구달빛로 65-26(약사동)울산기상대,울산기상대(152),35.5601,129.3203,34.57,35.80,1.50,12.0,0.5,POINT (129.32030 35.56010),0
45,155,2004-12-16,2010-07-21,마산,경상남도 창원시마산합포구 가포순환로172 창원기상대,NaN,35.1671,128.5751,36.80,37.90,1.70,10.0,0.5,POINT (128.57510 35.16710),0
46,155,1985-07-01,2004-12-15,마산,경상남도 창원시마산합포구 가포순환로172 창원기상대,NaN,35.1903,128.5652,11.25,4.90,1.50,17.6,0.6,POINT (128.56520 35.19030),0
50,164,1993-01-01,2000-07-31,무안,NaN,NaN,35.0938,126.2851,24.49,25.03,1.50,12.6,0.6,POINT (126.28510 35.09380),0
52,165,1904-04-08,2019-10-31,목포,전라남도 목포시연산동 726-3번지목포기상대,목포기상대(165),34.8169,126.3812,38.00,39.20,1.50,14.5,1.0,POINT (126.38120 34.81690),0
58,175,2001-11-03,2019-08-01,진도(첨찰산),전라남도 진도군의신면 운림산방로527-209,목포기상대(165),34.4721,126.3238,478.51,479.76,1.50,10.0,0.8,POINT (126.32380 34.47210),0
59,176,2013-10-10,2015-06-11,대구(기),NaN,대구기상대(176),35.8782,128.6522,49.00,50.20,1.80,10.0,0.6,POINT (128.65220 35.87820),0
61,177,2015-11-03,2017-10-31,홍성(예),충청남도 홍성군홍북읍 신경리872(홍성기상대),홍성기상대(서산 129),36.6575,126.6877,20.00,NaN,NaN,10.0,NaN,POINT (126.68770 36.65750),0
64,187,2007-03-27,2008-09-04,성산,NaN,NaN,33.3868,126.8804,18.00,20.48,1.80,10.2,0.6,POINT (126.88040 33.38680),0
66,188,1971-07-15,2008-09-04,성산,제주특별자치도 서귀포시성산읍 신난로11 성산레이더관측소,성산지역기상서비스센터(188),33.3868,126.8804,18.40,20.10,1.50,10.0,0.6,POINT (126.88040 33.38680),0
68,189,1961-01-01,2010-11-09,서귀포,제주특별자치도 서귀포시태평로 439번길17 서귀포관측소,서귀포지역기상서비스센터(189),33.2461,126.5653,50.40,51.60,1.80,10.0,0.6,POINT (126.56530 33.24610),0
70,192,1969-03-01,2005-11-23,진주,경상남도 진주시남강로 43진주지역기상서비스센터,NaN,35.2084,128.1191,21.32,22.64,1.50,10.0,0.6,POINT (128.11910 35.20840),1
76,214,1971-02-28,1996-01-01,삼척,NaN,NaN,37.3667,129.2167,3.90,5.40,1.50,10.0,0.6,POINT (129.21670 37.36670),0
82,232,1972-01-08,2016-04-01,천안,충청남도 천안시동남구 병천면병천리 263-3(천안지역기상서비스센터),천안지역기상서비스센터(232),36.7796,127.1213,21.30,22.60,1.80,9.5,0.6,POINT (127.12130 36.77960),0
87,239,2019-05-31,2020-04-01,세종(예),세종특별자치시 새롬동산 61,대전지방기상청(133),36.4864,127.2350,94.00,95.00,1.60,10.0,1.0,POINT (127.23500 36.48640),0
91,245,1970-01-05,2016-11-01,정읍,전라북도 정읍시서부산업도로 168-43국립전북기상과학관,전주기상대(146),35.5632,126.8661,44.60,46.10,1.70,10.0,0.6,POINT (126.86610 35.56320),0
93,247,2013-08-01,2017-08-25,남원,전라북도 남원시춘향로 74-32남원지역기상서비스센터,전주기상대(146),35.4023,127.3967,127.48,91.80,1.70,10.0,0.7,POINT (127.39670 35.40230),0
94,247,1972-01-04,2013-08-01,남원,전라북도 남원시춘향로 74-32남원지역기상서비스센터,남원기상대(247),35.4054,127.3330,90.29,94.70,1.80,10.0,0.6,POINT (127.33300 35.40540),0
97,251,2008-11-28,2010-11-30,고창,전라북도 고창군중거리당산로 74-12 상하수도사업소,고창기상대(미사용 251),35.4266,126.6970,54.00,55.30,1.80,10.0,0.7,POINT (126.69700 35.42660),0
98,251,2007-11-01,2008-11-28,고창,전라북도 고창군중거리당산로 74-12 상하수도사업소,고창기상대(미사용 251),35.4251,126.6990,54.02,55.32,1.50,10.0,0.5,POINT (126.69900 35.42510),0
103,255,2008-12-26,2010-07-21,창원시,경상남도 창원시성산구 외동반림로93 외동배수지,NaN,35.2264,128.6725,46.77,48.12,1.80,10.0,0.6,POINT (128.67250 35.22640),1
104,256,2011-04-01,2012-07-02,주암,NaN,순천기상대(174),35.0750,127.2391,74.63,75.40,1.50,14.0,0.6,POINT (127.23910 35.07500),0
105,256,1972-01-21,2011-04-01,순천,NaN,순천기상대(미사용 256),35.0750,127.2391,74.40,75.40,1.50,14.0,0.6,POINT (127.23910 35.07500),0
108,258,2010-02-08,2010-03-10,보성군,전라남도 보성군득량면 예당리3046-2번지,여수기상대(168),34.7633,127.2123,2.80,NaN,NaN,NaN,NaN,POINT (127.21230 34.76330),0
110,259,2009-11-10,2021-02-25,강진군,전라남도 강진군 강진읍 종합운동장길 58-8종합운동장 내,목포기상대(165),34.6289,126.7672,9.95,13.90,1.50,10.0,0.6,POINT (126.76720 34.62890),0
114,262,1972-01-22,2017-08-25,고흥,전라남도 고흥군고흥읍 행정리483-1번지,여수기상대(168),34.6182,127.2757,53.12,54.60,1.50,10.0,0.6,POINT (127.27570 34.61820),0
117,265,1971-07-15,2007-03-27,성산포,NaN,NaN,33.3868,126.8804,18.62,20.48,1.80,10.2,0.6,POINT (126.88040 33.38680),0
119,266,2011-01-01,2017-08-25,광양시,전라남도 광양시중동 산109-3,광주지방기상청(156),34.9430,127.6910,80.90,82.40,1.70,10.0,0.6,POINT (127.69100 34.94300),0
122,271,1988-01-01,2020-12-04,봉화,경상북도 봉화군춘양면 서동길59 봉화자동기상관측소,대구(구 143),36.9436,128.9145,324.67,326.22,1.90,10.0,0.6,POINT (128.91450 36.94360),0
125,273,1973-01-01,2020-12-04,문경,경상북도 문경시유곡불정로 223문경자동기상관측소,대구(구 143),36.6273,128.1488,173.01,174.51,1.80,10.0,0.6,POINT (128.14880 36.62730),0
127,276,2010-09-01,2020-12-04,청송군,경상북도 청송군청송읍 길안청송로1591-9(덕리 519-1) 청송군공동협력기상관측소,안동기상대(136),36.4351,129.0401,208.65,210.20,1.75,10.0,0.5,POINT (129.04010 36.43510),0
134,284,1972-01-24,2011-03-04,거창,경상남도 거창군거창읍 수남로2117 거창지역기상서비스센터,거창기상대(284),35.6712,127.9110,221.40,222.60,1.50,10.0,0.5,POINT (127.91100 35.67120),1

산사태 발생 이력 데이터의 시작이 2011년 7월 9일  
이전에 관측을 중단한 관측소는 데이터에서 제외한다

In [95]:
coor = coor.drop([4,8,9,12,15,32],axis=0)

In [96]:
# 데이터 정제 후 다시 매칭
# 모든 관측소와 거리를 계산하여 가장 가까운 관측소를 매칭
land_bound['ASOS'] = 0
for i in range(len(land_bound)):
    dis = []
    for j in range(len(coor)):
        dis.append(land_bound['geometry'].iloc[i].distance(coor['geometry'].iloc[j]))
    land_bound['ASOS'].iloc[i] = coor['지점명'].iloc[dis.index(min(dis))]

In [97]:
# 하나의 관측소가 커버하는 지역의 개수
for i in set(land_bound['ASOS']):
    print(i,len(land_bound[land_bound['ASOS']==i]))

울산 2
영덕 12
포항 19
밀양 18
구미 12
의령군 4
양산시 7
추풍령 11
창원 2
진주 24
경주시 6
광양시 6
안동 2
합천 23
장수 1
함양군 10
창원시 1
김해시 7
청송군 4
문경 1
거창 14
통영 12
상주 4
대구 3
영주 1
영천 5
울진 8
산청 11
봉화 1
북창원 7
마산 10
남해 9
울릉도 3

In [98]:
# 산사태 발생 지역에 데이터 프레임 하나씩

In [102]:
land_dict = {k.strip(' '):[] for k in land['umd']}
# 다음 지역에 대해선 예외처리한 후 직접 데이터프레임 병합
except_land = []
for i in land_dict.keys():
    if len(land_bound[land_bound['ADM_DR_NM']==i]) > 1:
        print(i,list(land_bound[land_bound['ADM_DR_NM']==i]['ASOS']))
        except_land.append(i)

상동면 ['김해시', '밀양']
성산면 ['합천', '밀양']
묘산면 ['합천', '합천']
병곡면 ['영덕', '함양군']
대가면 ['구미', '진주']
남면 ['구미', '남해', '구미', '남해']
서면 ['영천', '울릉도', '남해']
북면 ['울진', '울릉도', '북창원']
봉산면 ['추풍령', '합천']
덕곡면 ['합천', '합천']
동해면 ['포항', '마산']
자산동 ['추풍령', '마산']
북부동 ['대구', '김해시']
도산면 ['안동', '통영']
중앙동 ['포항', '영천', '대구', '진주', '통영', '양산시', '북창원']

In [103]:
land['date'] = land['date'].apply(lambda X:datetime.datetime(int(str(X)[:4]),int(str(X)[4:6]),int(str(X)[6:])))
weather['일시'] = pd.to_datetime(weather['일시'])

In [118]:
for i in land_dict.keys():
    if i in except_land:
        pass
    else:
        asos = land_bound[land_bound['ADM_DR_NM']==i]['ASOS'].iloc[0]
        asosDF = weather[weather['지점명']==asos].sort_values('일시')
        landDF = land[land['umd']==i]
        land_dict[i] = pd.merge(landDF,asosDF, left_on='date', right_on='일시', how='outer')
        land_dict[i]['sd'] = land_dict[i]['sd'].iloc[0]
        land_dict[i]['sgg'] = land_dict[i]['sgg'].iloc[0]
        land_dict[i]['umd'] = land_dict[i]['umd'].iloc[0]
        land_dict[i]['sum_cnt'] = land_dict[i]['sum_cnt'].fillna(0)
        land_dict[i]['sum_hpa'] = land_dict[i]['sum_hpa'].fillna(0)

In [123]:
land_dict['내일동'].corr()

,sum_cnt,sum_hpa,지점,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),...,평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr)
sum_cnt,1.000000,1.000000,NaN,0.016350,0.021497,0.023375,0.011015,-0.049499,NaN,0.095370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sum_hpa,1.000000,1.000000,NaN,0.016350,0.021497,0.023375,0.011015,-0.049499,NaN,0.095370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
지점,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
평균기온(°C),0.016350,0.016350,NaN,1.000000,0.978159,-0.092738,0.970665,-0.038737,NaN,0.198603,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
최저기온(°C),0.021497,0.021497,NaN,0.978159,1.000000,-0.036991,0.908852,-0.087234,NaN,0.235056,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5.0m 지중온도(°C),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
합계 대형증발량(mm),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
합계 소형증발량(mm),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9-9강수(mm),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
안개 계속시간(hr),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

산사태 발생 지역과 ASOS관측소를 거리 기준으로 매칭하여 데이터 셋을 구축하였다.  
다음 작업은 기상 데이터의 columns을 살펴보고 학습에 사용할 변수를 선택하는 작업이다.

for i in weather.columns:
    if weather.isna().sum()[i]/len(weather)>0.5:
        print(i,weather.isna().sum()[i]/len(weather))